#moc-body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;
}

.column {
    width: 50%;
    min-width: 56px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    width: 100%;
    height: 100%;
    min-height: 40px;
    padding: 3px;
    position: relative;
}

.grid {
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.resize-columns {
    cursor: col-resize;
}

.resize-grids {
    cursor: row-resize;
}

/* ========== NAVBAR ========== */

.navbar-container{
    z-index:100;
    position: absolute;
    top: 0;
    right:0;
    margin-top: 15px;
    margin-right: 15px;
    height: calc(100% - 21px);
    font-size: 20px;
}
#navbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 100px;
}
#navBtn{
    height: 6vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color:#3a3a3a;
    display:flex;
    justify-content: center;
    align-items: center;
}
#navBtn:hover{
    background-color:#5b5b5b;
}
#navBtn.expanded{
    background-color: #5b5b5b;
}
#navBtn.expanded:hover {
    background-color: #7f7f7f;
}

#navbar-icons{
    overflow:hidden;
    height:0;
    margin-top:8px;
    font-size:35px;
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.5s ease-in-out;
}

#navbar-icons i{
    color: #5b5b5b;
    padding-bottom: 8px;
}
#navbar-icons i:hover{
    color:#7f7f7f;
}